<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <p class="display-6 navbar-text text-center">&copy; Copyright 2022. All Rights reserved. Muhammad Sabeeh - 301184564</p>
    </nav>
  </footer>