<h4>Full Name</h4>
<p>Muhammad Sabeeh</p>
<h4>Email</h4>
<p>muhammadsabeeh01@gmail.com</p>
<h4>Phone Number</h4>
<p>647-647-6477</p>

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Contact Number</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputPassword4">
    </div>

    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Message</label>
      <textarea type="textarea" class="form-control" id="inputEmail4"></textarea>
    </div>
    <div class="col-12">
      <a href="/" class="btn btn-primary">Send</a>
    </div>
  </form>
